.contacts {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.contacts .content {
  max-width: 800px;
  align-items: center;
}

.contacts .content h2 {
  display: flex;
  justify-content: center;
  color: #3a6cf4;
  font-size: 2.5em;
  font-weight: 800;
  margin-bottom: 15px;
}

.contacts .content p {
  font-weight: 300;
  color: #000;
  font-size: 16px;
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .contactInfo {
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: rgb(234, 234, 234);
  padding: 5px;
  margin-top: 15px;
  border: 1px solid #00bcd4;
  border-radius: 10px;
}

.container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container .contactInfo .box .icon {
  height: 40px;
  width: 50px;
  display: flex;
  justify-content: center;
  font-size: 22px;
}

.container .contactInfo .box .text {
  margin-left: 20px;
  display: flex;
  color: #000;
  font-size: 16px;
  font-weight: 300;
  flex-direction: 300;
}

.container .contactInfo .box .text h3 {
  color: #00bcd4;
  font-weight: 800;
}

.container .contactInfo .box .text p {
  color: black;
  font-weight: 500;
  display: block;
  font-size: 16px;
  margin-left: 16px;
}

.contactForm {
  width: 40%;
  padding: 40px;
}

.contactForm h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}

.contactForm h2 {
  font-size: 20px;
  color: #00bcd4;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  padding: 5px 0;
  width: 100%;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  font-size: 16px;
  padding: 5px 0;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

@media screen and (max-width: 991px) {
  .container {
    flex-direction: column;
  }

  .container .contactInfo {
    margin-bottom: 40px;
  }

  .container .contactInfo,
  .contactForm {
    width: 50%;
  }
}